.present
  .present__container.container
    .present__linner
      .present__title ZionGPT
      .present__text Самый крупный новостной источник Сервисов ИИ. Поможем экономить ваше время, деньги и нервы )
      .present__link-box.link-box
        .link-box__btn
          .link-box__btn-img-wrapper
            img(src="./images/present/telegram.png", alt="present -> telegram icon")
          .link-box__btn-message Подпишись на нас в телеграмме
        .present__link-box_stat-box.link-box__stat-box
          .link-box__bookmark.cont-3col
            .link-box__img-box
              img.link-box__img-box-item(src="./images/present/bookmark.svg", alt="present -> bookmark icon")
            .link-box__label-value 150
            .link-box__after-label тыс+
          .link-box__bookmark.cont-3col
            .link-box__img-box
              img.link-box__img-box-item(src="./images/present/people.svg", alt="present -> people icon")
            .link-box__label-value 250
            .link-box__after-label тыс+

    .present__rinner.present-rinner
      .present-rinner__img-wrapper
        img.present-rinner__img-wrapper-img(src="./images/present/hero-right.png", alt="present -> hero.png")
