footer.footer
  div.footer__container.container
    div.footer__left
      p.footer__left-first all rights reserved
      p.footer__left-last Romanov 2024
    div.footer__right
      p.footer__right-produced incredible machine