header.header
  .header__container.container
    .header__logobox
      .header__logoimgbox
        img(src="./img/logo.svg", alt="").header__logoimg
      .header__logotextbox
        .header__logotoptext IL
        .header__logobottomtext professional company
      
    nav.header__menu.menu
      ul.header__list.list
        li.list__item
          a(href="#").header__link.list__link Home
        li.list__item
          a(href="#").header__link.list__link About
        li.list__item
          a(href="#").header__link.list__link New
        li.list__item
          a(href="#").header__link.list__link Contacts

    .header__downloadbox
      button.header__downloadbtn download

    .header__burger.burger-menu
      .burger-menu__first
      .burger-menu__second
      .burger-menu__third
