
.heading-one {
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 0.1em;
}
.heading-two {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 0.1em;
}
.heading-three {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0.1em;
}
.heading-four {
  font-size: 1.7rem;
  margin-bottom: 0.1em;
}
.heading-five {
  font-size: 1.5rem;
  margin-bottom: 0.1em;
}
.heading-six {
  font-size: 1.2rem;
  margin-bottom: 0.1em;
}

.para {
  margin-bottom: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1.6em;
}
