$pr-text: #222325;
$pr-ff: 'Qanelas', Helvetica, sans-serif;
$sec-bg: #F7F7F7;
$footer-bg: #222325; // $pr-text

$catalog-card-bg: #fff;

$info-card-bg: #fff;
$info-cacrd-text: #42424D;
$info-card-title: #0E0637;
