doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/root.css")
    title GULP | Zion-GPT
  body
    div(class="wrapper")
      include ./includes/header.pug
      include ./includes/main.pug
      include ./includes/footer.pug


    //- include ./includes/popup.pug
    
    //- script(src='./scripts/burger-menu.js')
    //- script(src='./scripts/popup.js')
